project2/commerce/__pycache__/wsgi.cpython-310.pyc
project2/auctions/migrations/0001_initial.py
project2/auctions/migrations/0002_item.py
project2/auctions/migrations/0003_alter_item_category.py
project2/auctions/migrations/0004_item_image.py
project2/auctions/migrations/0005_alter_item_image.py
project2/auctions/migrations/0006_alter_item_bid_alter_item_image.py
project2/auctions/migrations/0007_remove_item_image_item_image_url.py
project2/auctions/migrations/0008_comment_bids.py
project2/auctions/migrations/0009_delete_bids.py
