{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="user-view" class="container pt-5">
    <h5>{{ user_look.username }}</h5>
    <p><span class="me-4" id="following" >Following: {{ followers }}</span>
        <span class="ms-4" id="follows">Follows: {{ follows }}</span>
    </p>
    {% if user.is_authenticated %}
        <input type="hidden" id="user-id" value="{{ user_look.id }}">
        {% if follow == False %}
        <button type="submit" id="follow-user" class="btn btn-primary">Unfollow</button>
        {% elif follow == True %}
        <button type="submit" id="follow-user" class="btn btn-primary">Follow</button>
        {% else %}
        {% endif %}
    {% endif %}
    <div class="container p-4 border rounded">
        <div class="" id="posts-view">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/user_profile.js' %}"></script>
{% endblock %}