body {
    padding: 10px;
}


.image-placeholder {
    width: 400px;
    height: 200px;
    background-color: #2b3843;
    color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}