{% extends "encyclopedia/layout.html" %}
{% block title%}
Create
{% endblock %}
{% block body %}

<div class="container">
    <div class="col-10 mx-auto">
        <form class="form=control mt-4" action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                <label for="title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Type page content" id="content" name="content" style="height: 80vh"></textarea>
                <label for="content">Page content</label>
            </div>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary ">Create</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}