{% extends "auctions/layout.html" %}

{% block body %}
    <form class="col-md-8 col-lg-5 m-auto" action="{% url 'create' %}" method="post">
        {% csrf_token %}
        
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" name="title" id="title">
        </div>
        <div class="mb-2">
            <label for="image_url" class="form-label">Image URL</label>
            <input class="form-control" type="url" name="image_url" id="iamge_url">
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" type="text" name="description" id="description" maxlength="200"></textarea>
        </div>
        <div class="row">
            <div class="col-2">
                <label class="form-label" for="category">Category</label>
            </div>
            <div class="col-4 px-0">
                <input class="form-control" type="text" name="category" id="category">
            </div>
            <div class="col-6">
                <div class="input-group">
                    <span for="bid" class="input-group-text">Starting bid</span>
                    <input class="form-control" name="bid" id="bid" type="integer">
                </div>
            </div>
            <div class="my-2 w-100">
                <button class="btn btn-primary w-100">Create</button>
            </div>
        </div>
    </form>
    
{% endblock %}
