{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {% if listing.image_url %}
                <img class="img-fluid image-placeholder" src="{{ listing.image_url }}" width="400" height="200">
                {% else %}
                <div class="img-fluid rounded image-placeholder">Image not available</div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="row m-2">
                    <div >
                        <h3>{{ listing.title }}</h3>
                        <span class="text-break">{{ listing.description }}</span>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-6 col-sm-6">
                        {% if not listing.is_active %}
                        <form class="input-group">
                            <span class="input-group-text">Sold for:</span>
                            <label class="form-label" for="new_bid"></label>
                            <input class="form-control" type="number" name="new_bid" placeholder="${{ listing.bid }}" disabled>
                        </form>
                        {% elif user.is_authenticated %}
                        <form class="input-group" method="post">
                            {% csrf_token %}
                            {% if request.user != listing.seller %}
                            <span class="input-group-text w-50 justify-content-end">Price:</span>
                            <input class="form-control" type="number" name="new_bid" step="0.01" placeholder="${{ listing.bid }}">
                            <button class="btn btn-primary px-3" type="submit">Bid</button>
                            {% elif request.user == listing.seller %}
                            <span class="input-group-text w-50 justify-content-end">Current bid:</span>
                            <input class="form-control" type="number" name="new_bid" step="0.01" placeholder="${{ listing.bid }}" disabled>
                            {% else %}

                            {% endif %}
                        </form>
                        {% else %}
                        <form class="input-group" action="{% url 'login' %}">
                            <span class="input-group-text">Price:</span>
                            <label class="form-label" for="new_bid"></label>
                            <input class="form-control" type="number" name="new_bid" placeholder="${{ listing.bid }}" disabled>
                            <button class="btn btn-primary" type="submit">Sign in to buy</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {% if not listing.is_active %}
                        <!-- If listing is not active remove button with wathclist -->
                        {% elif user.is_authenticated and request.user != listing.seller %}
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist" value="{{ listing.title }}">
                            {% if item_in_watchlist %}
                                <button class="btn btn-primary" type="subnit" name="remove_from_watchlist">Remove from watchlist</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit" name="add_to_watchlist">Add to watchlist</button>
                            {% endif %}
                        </form>
                        {% elif user.is_authenticated and request.user == listing.seller %}
                        <form action="{% url 'close-listing' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="close_listing" value="{{ listing.title }}">
                            <button class="btn btn-primary" type="submit" name="close">Close listing</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% if messages %}
                <div class="col-9">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }} m-4 text-danger"{% endif %}>{{ message }}</p>
                        {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">

        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h3>Comments</h3>
                <form method="post">
                    {% csrf_token %}
                    <textarea class="form-control mb-2" name="comment" placeholder="Leave a comment"></textarea>
                    <button class="btn btn-primary mb-2" type="submit">Comment</button>
                </form>
                {% for comment in comments %}
                <h5>{{comment.user}}</h5>
                <p>{{comment.comment}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}