{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ listing.image_url}}" width="300" height="200">
            </div>
            <div class="col-md-8">
                <div class="row m-2">
                    <div >
                        <h3>{{ listing.title }}</h3>
                        <span class="text-break">{{ listing.description }}</span>
                    </div>
                </div>
                <div class="row m-2">
                    <h5>Price: ${{ listing.bid }}</h5>
                </div>
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="watchlist" value="{{ listing.title }}">
                {% if item_in_watchlist %}
                    <button class="btn btn-primary" type="submit" name="remove_from_watchlist">Remove from watchlist</button>
                {% else %}
                    <button class="btn btn-primary" type="submit" name="add_to_watchlist">Add to watchlist</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container">

        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h3>Comments</h3>
                <form>
                    <textarea cols="100" rows="2" placeholder="Leave a comment"></textarea>
                </form>
            </div>
        </div>
    </div>

{% endblock %}