{% extends "auctions/layout.html" %}


{% block body %}
    <div class="container">
        <h2>Watchlist</h2>

        {% if user_list %}
            <ul class="list-group list-group-flush">
                {% for item in user_list %}
                    <li class="list-group-item list-group-item-action" style="border: 0"> <a class="fs-5" href="listing/{{ item.title }}">{{ item.title }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
        <span>No listing in wathclist</span>
        {% endif %}
    </div>
{% endblock %}